#bestscore {
    font-weight: bold;
    padding: 3px;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    border-radius: 5px;
}
.fa-trophy {
    color: goldenrod;
    margin-right: 4px;
    vertical-align: baseline;
}
@keyframes bestScore {
    25% {
        box-shadow: 0 0 2px 5px gold;
        color: goldenrod;
    }
    50% {
        box-shadow: 0 0 0px 1px gold;

    }
    75% {
        box-shadow: 0 0 2px 5px gold;
        color: goldenrod;
    }
}