main {
    margin: 0 auto;
}
#cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 0 10px;
}
@media (max-width: 750px) {
    #cards-grid {
        grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        grid-gap: 8px;
    }
}
#scoreboard {
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}