#score {
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
}
@keyframes positive {
    50% {
        color: green;
        transform: scale(1.3);
    }
}
@keyframes negative {
    25% {
        color: red;
        transform: translateX(10px);
    }
    75% {
        color: red;
        transform: translateX(-10px);
    }
}