#score {
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    font-weight: bold;
}
#score p {
    padding: 4px;
}
@keyframes positive {
    50% {
        color: green;
        transform: scale(1.2);
    }
}
@keyframes negative {
    25% {
        color: red;
        transform: translateX(10px);
    }
    75% {
        color: red;
        transform: translateX(-10px);
    }
}